/* --- 1. Variáveis CSS (Custom Properties) --- */
:root {
    /* Cores */
    --color-primary-green: rgb(125, 199, 125); /* Verde do body */
    --color-secondary-green: rgb(167, 192, 167); /* Verde médio (baseboard-container, footer bg, title-news bg) */
    --color-dark-green: rgb(5, 70, 5); /* Verde escuro (links, títulos principais, title-baseboard bg) */
    --color-white: white;
    --color-black: black;
    --color-light-gray: #e0ffe0; /* Fundo da lista de versões */
    --color-text-dark: #333; /* Texto geral mais escuro para contraste */

}
